html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.home, .artistas{
    height: 100vh;
    width: 100vw;
}
.pagina1, .pagina2, .pagina3{
    height: 100%;
}
.pagina2{
    background-image: url(./img/homeDerecha.png);
    background-size: cover;
}
.homeIzquierda, .homeDerecha, .section2{
   background-color: rgb(233, 233, 233);
   color: white;
}
.homeDerecha{
    background-image: url(./img/homeDerecha.png);
    background-size: cover;
    height: 100%;
    width: 100% ;
}

.hamburger {
    position: fixed;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    transform: translate3d(0, 0, 0);
    transition: transform 3s ease-in-out;
    z-index: 1002;
    cursor: pointer;            
}

@media screen and (max-width: 700px) {
    .hamburger {
        right: 8%;
        top: 2%;              
    }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
    .hamburger {
        right: 6%;
        top: 2%;              
    }
}
@media screen and (min-width: 1024px) {
    .hamburger {
        right: 3%;
        top: 2%;              
    }
}

._layer {
    background: #1d1d1d;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 2px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.25s ease;
}

.hamburger:hover .-top {
    transform: translateY(-25%);
}

.hamburger:hover .-bottom {
    transform: translateY(25%);
}

.hamburger.is-active .-top {
    transform: translateY(100%) rotate(45deg);
    background-color: rgb(226, 226, 226);
    height: 3px;
}



.hamburger.is-active .-bottom {
    transform: translateY(-100%) rotate(-45deg);
    background-color: rgb(226, 226, 226);
    height: 3px;

}

.menuppal {
    background-color:rgb(49, 49, 49);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s ease;
    width: 100%;
    z-index: 1001;
}
.menuppal.is-active {
    transform: translate3d(0px, 0px, 0px);
}

.menuppal ul {
    margin: 0;
    padding: 0;
}

.menuppal ul li {
    list-style: none;
    text-align: center;            
    font-size: 1.5rem;            
    padding: 20px;
}

.menuppal ul li a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}
/*###############################################*/
/*ESTILO MENU DESPLEGABLE*/
/*###############################################*/
.linkHome{
    transition: .2s ease;
    font-family: 'Spartan', sans-serif;
}
.linkHome:hover{
    font-size: 80px;
    color: rgb(111, 247, 0);
}
.linkArtistas{
    transition: .2s ease;
    font-family: 'Spartan', sans-serif;
}
.linkArtistas:hover{
    font-size: 80px;
    color: rgb(247, 72, 253);
}
.linkContacto{
    transition: .2s ease;
    font-family: 'Spartan', sans-serif;
}
.linkContacto:hover{
    font-size: 80px;
    color: rgb(253, 241, 72);
}
.letras{
    font-size: 50px;
}
.imgTitulo{
    position: relative;
}
/*###############################################*/
/*CARRUSEL*/
/*###############################################*/
.cita{
    font-family: 'Spartan', sans-serif;
    font-size: 10px;
}
.cita .nombre{
    font-family: 'Calligraffitti', cursive; 
    font-size: 45px ;
}

@media screen and (max-width: 700px) {
    .foto{
        width: 100vw;
    }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
    .foto{
        width: 90vw;
    }
}
@media screen and (min-width: 1024px) {
    .foto{
        width: 50vw;
    }
}

/*###############################################*/
/*CONTACTO*/
/*###############################################*/

.pagina3 {
    background-image: url(./img/homeDerecha.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 80%;
    max-width: 820px;
    margin: 60px auto;
    background: rgba(245,245,245,1);
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
@media screen and (max-width: 700px) {
    form {
        padding: 30px 60px 40px 60px;  
    }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
    form {
        padding: 40px 100px 60px 80px;
    }
}
@media screen and (min-width: 1024px) {
    form {
        padding: 60px 120px 80px 120px; 
    }
}
label {
    display: block;
    position: relative;
    margin: 40px 0px;
}

input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
}

.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(104, 126, 255);
    transition: ease .6s;
}

input:focus + .line-box .line {
    width: 100%;
}

.label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
}

.label-active {
    top: -3em;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}

button:hover {
    background: rgb(109, 250, 255);
    color: #ffffff;
}

/*###############################################*/
/*PORTADA EFECTOS*/
/*###############################################*/

.imgPortada{
    position: relative;
    opacity: 0;
    top: -100px;
    transition: all 0.5s ease;
}
.imgPortadaVer{
    position: relative;
    top:0;
    opacity: 1;
    transition: all 0.5s ease;
}
.textoPortada{
    position: relative;
    opacity: 0;
    top: 100px;
    transition: all 0.5s ease;
}
.textoPortadaVer{
    position: relative;
    top:0;
    opacity: 1;
    transition: all 0.5s ease;
}
.artistas{
    position: relative;
    opacity: 0;
    top: -100px;
    transition: all 0.5s ease;
}
.artistasVer{
    position: relative;
    top:0;
    opacity: 1;
    transition: all 0.5s ease;
}
.formulario{
    position: relative;
    opacity: 0;
    top: -200px;
    transition: all 0.5s ease;
}
.formularioVer{
    position: relative;
    top:0;
    opacity: 1;
    transition: all 0.5s ease;
}

.tituloArtistas{
    font-family: 'Spartan', sans-serif;
    font-size: 8vw;
    color: black;
}
