tbody tr:nth-child(odd){background-color:lightgray;}
tbody tr:nth-child(even){background-color:lightskyblue;}
td:first-child{
    color:red;

}
td{
    padding: 8px;
}
td:hover {
    background-color: darkorange;
}
tbody tr:hover{
    background-color: bisque;
}
thead{
    background-color: beige
}

