
.celda{
    border: 10px solid black;
    background-color: green;
}
#contenedor{
    border-style: solid;
    border-color: black;
}
p{
    color: beige;
}
div{
    width: 100px;
}
#sub1{
    background-color: blue;
}
#sub2{
    background-color: green;
}
#sub3{
    background-color: red;
}
#sub4{
    background-color: black;  
}